<div data-ng-include data-src="'/views/nav.html'"></div>
<div class="container">
  <div class="row">
    <div class="col-12">
      <p>Hi, my name is <b>Rakuraku Jyo</b> Here's my favorite photos from flickr</p>
    </div>
    <div class="col-12">
      <form class="form-inline">
        <div class="form-group">
          <label class="sr-only" for="photoTag">Photo Tag</label>
          <input type="text" class="form-control" id="photoTag" ng-model="tag" placeholder="Search photo by tag">
        </div>
        <button type="submit" class="btn btn-default" data-ng-click="search()">Search</button>
        <div class="form-group pull-right">
          <label class="sr-only" for="photoTitle">Photo Title</label>
          <input type="text" class="form-control" id="photoTitle" ng-model="query" placeholder="Filter photo by title">
        </div>
      </form>
    </div>

    <div class="col-12">
      <div class="well" ng-show="(!photos && tag)">Search for photos with tag [<code>{{ tag }}</code>] ...</div>
      <div class="well" ng-hide="!query">Filtering for <code>{{ query }}</code> ...</div>
    </div>

    <!--<photo photo="currentTab"></photo>-->
    <div class="col-12">
      <div id="columns">
        <photo photo="p" ng-repeat="p in photos | filter:filterTitle"/>
      </div>
    </div>
  </div>
</div>